* {
  margin: 0;
  padding: 0;
  background-color: #3F4E4F;
  box-sizing: border-box;
}

h1 { 
  font-size: 70px;
  text-align: center;
  color:beige;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2C3639;
}

nav {
width: 100%;
height: 100px;

}

ul {

}

ul li {
  list-style: none;
  display:inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
text-decoration: none;
font-size: 20px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:beige;
padding: 0 20px;
}

ul li a:hover {
  color:navy
  }

img {
  width: 1800px;
  opacity: 50%;
}

h2 {
font-size: 30px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:beige;
margin-right: 50%;
}

.img {
  width: 300px;
  margin-left: 20px;
  opacity: 100%;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

p {
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(211, 199, 153);
 margin-left: 25%;
 margin-top: 20px;
 margin-right: 15%;
}

.interest {
  font-size: 40px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(236, 209, 99);
text-align: left;
}

#thank-you {
  font-size: 40px;
display: inline-block;
margin-left: 20px;
}

#this {
font-size: 20px;
display: inline-block;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(211, 199, 153);
margin-left: 5%;
margin-top: 20px;
}

h3 a {
  color:rgb(211, 199, 153);
}

h3 a:hover {
  color:navy
  }

#question {
  font-size: 20px;
display: inline-block;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(204, 186, 116);
margin-left: 20px;
margin-top: 20px;
}

.answer {
  font-size: 15px;
  display: inline-block;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(246, 232, 178);
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

#image-a {
  font-size: 15px;
  display: inline-block;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(195, 193, 184);
  margin-left: 200px;
  margin-top: 5px;
  margin-right: 60%;
}

#image-b {
  font-size: 15px;
  display: inline-block;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(195, 193, 184);
  margin-left: 40%;
  margin-top: 5px;
  margin-right: 0;
}


#answer-ex {
font-size: 15px;
  display: inline-block;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(246, 232, 178);
  margin-left: 20px;
  margin-top: 20px;
}

.ptag-b {
width: 25%;
float: left;
margin-left: 30px;
padding: 20px;
opacity: 100%; 
box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

#image-c {
  font-size: 15px;
  display: inline-block;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(195, 193, 184);
  margin-left: 65%;
  margin-right: 0;
}

